body {
    margin: 0;
    font-family: Arial;
    background: #f3f3f3;
}

.dark {
    background: #121212;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 20px;
    background: #131921;
    color: white;
}

.logo {
    font-size: 22px;
    color: orange;
    font-weight: bold;
}

.navbar input, select, button {
    padding: 6px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}

.dark .card {
    background: #1e1e1e;
}

.card img {
    width: 100%;
}

.card button {
    width: 100%;
    margin-top: 6px;
    padding: 6px;
    cursor: pointer;
}

.drawer {
    position: fixed;
    right: -350px;
    top: 0;
    width: 300px;
    height: 100%;
    background: white;
    padding: 20px;
    overflow-y: auto;
    transition: 0.3s;
}

.drawer.active {
    right: 0;
}

.dark .drawer {
    background: #1e1e1e;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: black;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    opacity: 0;
    transition: 0.3s;
}
