const productList = document.getElementById("productList");

const products = [
{name:"Smartphone",price:9999,cat:"electronics"},
{name:"Headphones",price:1999,cat:"electronics"},
{name:"Smart Watch",price:2499,cat:"electronics"},
{name:"Keyboard",price:699,cat:"electronics"},
{name:"Mouse",price:499,cat:"electronics"},
{name:"Power Bank",price:1299,cat:"electronics"},
{name:"T-Shirt",price:499,cat:"fashion"},
{name:"Shoes",price:2199,cat:"fashion"},
{name:"Backpack",price:999,cat:"fashion"},
{name:"Handbag",price:1499,cat:"fashion"},
{name:"Desk Lamp",price:899,cat:"home"},
{name:"Office Chair",price:5499,cat:"home"},
{name:"Coffee Mug",price:199,cat:"home"},
{name:"Water Bottle",price:299,cat:"home"},
{name:"Bedsheet",price:1299,cat:"home"}
];

function randomRating(){return (Math.random()*2+3).toFixed(1)}

function createProducts(){
productList.innerHTML="";
products.forEach(p=>{
const discount=Math.floor(Math.random()*40)+10;
const mrp=Math.floor(p.price*(1+discount/100));

productList.innerHTML+=`
<div class="card" data-name="${p.name}" data-category="${p.cat}" data-price="${p.price}">
<span class="badge">${discount}% off</span>
<img src="https://via.placeholder.com/200">
<h3>${p.name}</h3>
<div class="rating">⭐ ${randomRating()}</div>
<div class="price">₹${p.price} <span class="mrp">₹${mrp}</span></div>
<div class="free">Free Delivery</div>

<div class="qtyBox">
<button class="qtyMinus">-</button>
<input type="number" value="1" min="1">
<button class="qtyPlus">+</button>
</div>

<button class="addBtn">Add to Cart</button>
<button class="wishBtn">Wishlist</button>
</div>`;
});
}
createProducts();
