body {
    margin: 0;
    font-family: Arial;
    background: #f3f3f3;
}

.dark {
    background: #121212;
    color: white;
}

.navbar {
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    background: #131921;
    color: white;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-size: 22px;
    color: orange;
    font-weight: bold;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px,1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    transition: 0.2s;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.dark .card {
    background: #1e1e1e;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
}

.qtyBox {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
}

.qtyBox input {
    width: 40px;
    text-align: center;
}

.drawer {
    position: fixed;
    right: -350px;
    top: 0;
    width: 300px;
    height: 100%;
    background: white;
    padding: 20px;
    overflow-y: auto;
    transition: 0.3s;
}

.drawer.active {
    right: 0;
}

.dark .drawer {
    background: #1e1e1e;
}

button {
    cursor: pointer;
}

#toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    display: none;
}
