body {
    margin: 0;
    font-family: Arial;
    background: #f3f3f3;
}

.dark {
    background: #1e1e1e;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    background: #131921;
    color: white;
}

.logo {
    font-size: 22px;
    color: orange;
    font-weight: bold;
}

.navbar input, select {
    padding: 6px;
}

.cart-btn {
    cursor: pointer;
}

.filters {
    padding: 15px;
    text-align: center;
}

.filters button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.dark .card {
    background: #2c2c2c;
}

.card img {
    width: 100%;
}

.card button {
    margin: 5px 0;
    padding: 6px;
    width: 100%;
    cursor: pointer;
}

.cart-sidebar {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background: white;
    padding: 20px;
    transition: 0.3s;
    overflow-y: auto;
}

.cart-sidebar.active {
    right: 0;
}

.modal {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
}

.modal-content {
    background: white;
    padding: 20px;
    width: 300px;
    margin: 100px auto;
}
