body {
    margin: 0;
    font-family: Arial;
    background: #f1f1f1;
}

.navbar {
    background: #131921;
    color: white;
    padding: 12px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.logo {
    color: orange;
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: white;
    font-size: 14px;
}

.navbar input {
    flex: 1;
    padding: 8px;
}

.cartBtn {
    cursor: pointer;
}

.menu {
    background: #232f3e;
    padding: 10px;
}

.menu button, .menu select {
    margin-right: 10px;
    padding: 6px 10px;
}

.hero {
    background: linear-gradient(to right, orange, darkorange);
    color: white;
    text-align: center;
    padding: 50px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    text-align: center;
}

.card img {
    width: 100%;
}

.price {
    font-weight: bold;
}

.card button {
    width: 100%;
    padding: 8px;
    background: #ffd814;
    border: none;
    cursor: pointer;
}

.cartModal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
}

.cartBox {
    background: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
}
