body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    background: #131921;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: orange;
}

.logo span {
    color: white;
    font-size: 14px;
}

.navbar input {
    flex: 1;
    margin: 0 20px;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

.cart-btn {
    cursor: pointer;
    font-size: 16px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
}

.card button {
    background: #ffd814;
    border: none;
    padding: 8px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.card button:hover {
    background: #f7ca00;
}

.cart-section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-item button {
    margin: 0 5px;
    cursor: pointer;
}

#clearCart {
    background: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
