.root {
    -fx-background-color: #f2f2f2;
}

.title {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

.card {
    -fx-background-color: white;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 4);
    -fx-pref-width: 420;
}

.card-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-radius: 8;
}

.button {
    -fx-background-color: #1976d2;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
}
